<script>
// if (document.cookie.indexOf('email') != -1){
//   document.getElementById('login').disabled = none;
//   document.getElementById('logout').disabled = visible;
// }
// else {
//   document.getElementById('login').visibility = visible;
//   document.getElementById('logout').disabled = none;
// }
</script>

<!-- <link rel="stylesheet" href="search.css"> -->

<nav class="navbar navbar-inverse navbar-fixed-top" oncontextmenu="return false;">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">Connect Me</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <!-- <li class="active"> -->
        <li><a href="/register">Register</a></li><li><a href="/profile">Profile</a></li>
        <li id = "login"><a href="/login">Login</a></li>
        <!-- <li id = "logout" style = "visibility: hidden"><a href="/logout">Logout</a></li> -->
       <!--  <li><div class="topnav" align = "right">
          <input type="text" placeholder="Search..">
        </div>
      </li> -->
      </ul>

    </div>

  </nav>

<!--
<div class="container">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pull-left" href="#"><img src="/img/NTTLogosm.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/file-upload">File Upload</a></li>
      </ul>
    </div> /.navbar-collapse
  </div>/.container-fluid 
</nav></div>
-->
