<br><br><br><br>

<div class="container">
	<div class="row">
		<div class="col-md-3 ">
			<div class="list-group ">
				<a href="/profile" class="list-group-item list-group-item-action">Dashboard</a>
				<a href="#" class="list-group-item list-group-item-action active">Groups</a>
				<a href="/search" class="list-group-item list-group-item-action">Search for Groups</a>
				<a href="/searchuser" class="list-group-item list-group-item-action">Search for Users</a>
			</div> 
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<h4>Join Group</h4>
							<hr>
							<form name = "joingroup" action = "/joingroup3">
								<label for="name">Group Name</label><input type="name" class="form-control" id = "name" name="name">
								<br>
								<label for="password">Password</label><input type="password" class="form-control" id = "password" name="password">
								<br>
								<button type = "submit" class="btn btn-info">Join</button>
							</form>
						</div>
					</div>
					

				</div>
			</div>
		</div>

	</div>

</div>

