<!-- <link rel="stylesheet" href="register.css"> -->
<br><br><br><br>
<!-- <p style: align = "center" > -->
	<div class = "wrapper" align = "center">
		<!-- <a href="/credentials"> -->
			<button style="transform: scale(2.0); text-align: center;display: inline-block;
			position: absolute;top: 50%;left: 30%; margin: auto" onclick="location.href='/credentials1'" type = "button" class="btn btn-primary">I'm a Student/Athlete</button>
			<button style="transform: scale(2.0); text-align: center;display: inline-block;
			position: absolute;top: 50%;left: 60%; margin: auto" onclick="location.href='/credentials2'" type = "button" class="btn btn-success">I'm a Teacher/Coach</button>
		</div>
		<!-- </p> -->
